<div class="" style="margin-top:43px">
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    
    
      
    <div class="container" >
      <div class="row" >
        <div class="wrapper"  style="margin-top:-20px;">
            <div >
                <input type="checkbox" id="menu-bar">
              <div class="side-bar" style="background-color:rgba(0,65,116,0.6)">
                    <ul>
                        <li class="menu-head" style="font:bold 13px helvetica neue,arial,sans-serif;">
                            CATEGORÍAS <a href="#" class="push_menu"><label style="font-size:18px" class="fa fa-caret-left pull-right" for="menu-bar"></label></a>
                        </li>
                        <div class="menu" style="font:13px Verdana,Arial,sans-serif">
                            <li>
                                <a href="#">Animaciones <span  class="fa fa-file-movie-o pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Anime <span  class="fa fa-child pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Comics <span class="glyphicon glyphicon-cog pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#" class="active">Cosplay<span  class="fa fa-child pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Dibujo <span  class="fa fa-pencil pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Digital <span  class="glyphicon glyphicon-cog pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Fotos profesionales <span  class="fa fa-camera-retro pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Juegos <span  class=" fa fa-gamepad pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">Variado <span  class="glyphicon glyphicon-cog pull-right"></span></a>
                            </li>
                        </div>
                        
                    </ul>
              </div>   
            </div>
        </div>
      </div>
    </div>
 
	<div class="">
  <div id="masonry" style="margin-left:230px; margin-right:35px">
    <div class="item">
      <img src="https://orig00.deviantart.net/1346/f/2016/081/c/4/12828946_454495494760552_6474714899523298972_o__by_himariyuki54-d9w34j1.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://i.pinimg.com/564x/9a/a1/d8/9aa1d86a69e9ebce8ffb7bbbbd792361.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://i.pinimg.com/564x/7f/cb/73/7fcb73c84b00118bda9ee8b3741232c6.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://orig00.deviantart.net/cb43/f/2017/316/6/5/exppo_oct17_por_axlord_20_1024x683_by_himariyuki54-dbtm2uv.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://i.pinimg.com/564x/3a/d3/5f/3ad35fb7d9773fc02665216343a53d7e.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://scontent.fmvd2-1.fna.fbcdn.net/v/t1.0-9/22789021_1159848857480983_6834188753042831780_n.jpg?_nc_eui2=v1%3AAeE9_z-kDhuuQk-GgTnLyO2WT5LQRQe0vsC5Qo29UrhJ8DmNYdGC9f5LER6aP9jQ3ux42uh1Ufjcug7ZJSiN0a4UCIhaanayWTFiURWDMYswqA&oh=594de16ca628ac130bbb00d630c0689d&oe=5B024E7E" alt="" />
    </div>
    <div class="item">
      <img src="https://img00.deviantart.net/e367/i/2016/233/1/4/bunny_d_va_from_overwatch__3_by_rinnieriot-daesh4j.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://i.pinimg.com/564x/c6/35/28/c63528ea2783be4671519e27b0da599f.jpg" alt="" />
    </div>
    <div class="item">
      <img src="https://i.pinimg.com/564x/67/81/f9/6781f9a6dac424d4151de2e7584fd1f5.jpg" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x250" alt="" />
    </div>
    <div class="item">
      <img src="https://orig00.deviantart.net/3c6d/f/2017/328/4/8/23172669_737195709800715_3737711153298042664_n_by_himariyuki54-dbuq2ut.jpg" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x200" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x300" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/200x200" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x250" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/200x320" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x200" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x300" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/200x200" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x250" alt="" />
    </div>
  </div>
</div>
</div>