<body style="height: 100%;width: 100%;position:absolute;background-color:#eeeeee;">
  <div style="background-color:#eeeeee;">
  <div class="visual">
    <img src="http://lolhentai.net/_data/i/upload/2018/03/22/20180322113431-1eaf8cc8-la.jpg">
  </div>
  <div  style="background-color:white;margin-left:65px;margin-right:70px; border-left-style: solid;border-width:5px;border-color:#5858FA">
  <hr style="margin-bottom:13px;">

  <div class="autor">
    <div class="img-circle">
      <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t1.0-9/28059383_1587971967922820_3227416185016439972_n.jpg?oh=b21056c6777f9bd3488c078eb8296a5c&oe=5B4AFC7A">
    </div>
    

    <div style="margin-left:88px; margin-top:-65px;position:static;"> El mejor cosplay in da world! <br>
      by CosplaysNet
    </div>
    
    <div class="blockright">
    <div style="margin-top:10px;"></div>
      &nbsp; &nbsp;Comentarios
      <br>
      <input class="tb5"  placeholder="Escribe un comentario...">
      <div class="img-chat" style="margin-left:10px;margin-top:15px">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t1.0-9/28059383_1587971967922820_3227416185016439972_n.jpg?oh=b21056c6777f9bd3488c078eb8296a5c&oe=5B4AFC7A">
      </div>
      <div style="margin-top:90%">
      &nbsp; &nbsp;Contenido relacionado
      <hr style="margin-top:5px">
      <div class="container main">
          <div class="row">
              <div class="col-sm-3">
                  <div class="thumbnail">
                      <img src="https://orig00.deviantart.net/6618/f/2017/344/1/c/star_guardian_ahri_by_gonstool-dbwabmh.png" alt="Image" />
                    </div>
                    
              </div>            
              <div style="margin-left:23px" class="col-sm-3">
                  <div class="thumbnail">
                      <img src="https://orig00.deviantart.net/ab19/f/2018/032/9/8/academy_ahri_by_gonstool-dc1tcdb.jpg" class="portrait" alt="Image" />
                    </div>
              </div>
              <div style="margin-left:23px"  class="col-sm-1">
                  <div class="thumbnail">
                      <img src="https://pre00.deviantart.net/37d7/th/pre/f/2015/195/a/1/rose_queen_by_gonstool-d91c4bx.jpg" class="portrait" alt="Image" />
                    </div>
              </div>
              <div class="col-sm-4" style="margin-top:20px">
                  <div class="thumbnail">
                      <img src="https://orig00.deviantart.net/73e3/f/2018/065/3/7/closers_alphaqueen_by_gonstool-dc54y6w.jpg" alt="Image" />
                    </div>
                    
              </div>
            
              <div class="col-sm-3" style="margin-top:20px; margin-left:-6px">
                  <div class="thumbnail">
                      <img src="https://img00.deviantart.net/a11f/i/2018/009/6/1/tyrannosaur_speedpaint_2018_by_raph04art-dbzhy37.jpg" class="portrait" alt="Image" />
                    </div>
              </div>
              <div class="col-sm-4" style="margin-top:20px; margin-left:23px">
                  <div class="thumbnail">
                      <img src="https://pre00.deviantart.net/d429/th/pre/f/2015/124/9/0/hip_by_gonstool-d8s3tvz.jpg" alt="Image" />
                    </div>
              </div>
            
              <div class="col-sm-4" style="margin-top:20px">
                  <div class="thumbnail">
                      <img src="https://orig00.deviantart.net/b50b/f/2017/179/5/6/jurassic_park_dilophosaurus__spitter__by_raph04art-dbebkr5.jpg" alt="Image" />
                    </div>
                    
              </div>
            
              <div class="col-sm-3" style="margin-top:20px; margin-left:-6px">
                  <div class="thumbnail">
                      <img src="https://img00.deviantart.net/a11f/i/2018/009/6/1/tyrannosaur_speedpaint_2018_by_raph04art-dbzhy37.jpg" class="portrait" alt="Image" />
                    </div>
              </div>
              <div class="col-sm-4" style="margin-top:20px; margin-left:23px">
                  <div class="thumbnail">
                      <img src="https://img00.deviantart.net/a11f/i/2018/009/6/1/tyrannosaur_speedpaint_2018_by_raph04art-dbzhy37.jpg" alt="Image" />
                    </div>
              </div>
            
          </div>
      </div>
      </div>
      </div>
    </div>
    <hr style="margin-top:30px">
  </div>
  </div>
  
  <!------ Include the above in your HEAD tag ---------->
</body>
